.form{
    .btn_todo{
        color: #fff;
        background: linear-gradient(to right, rgba(140, 174, 206, 0), rgb(0, 255, 179));
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;

        @include responsive6{
            margin-top: 10px;
            padding-left: 60px;
     
            font-size: 16px;
         
        }

    }

}